
<div class= "row justify-content-center"  >

    <div *ngFor="let product of products" class="card" style="width: 18rem; margin:14px;">
        <img src={{product.imageUrl}} class="card-img-top mx-auto d-block m-2" alt="...">
        <div class="card-body">
            <p class="card-text">{{product.description}}</p>
            <h5 class="card-title mb-4">{{product.price}} ₺</h5>
            <a  (click)="addToCart(product)" class="btn btn-primary"> Satın Al</a>
        </div>
    </div>

</div>